@import "./MediaQueries.scss";
@import "./Variables.scss";
@import "./Wrappers.scss";
@import "./Text.scss";

* {
  color: $tertiaryColor;
  font-family: "Handlee", cursive;
}

/*
#root {
  background-image: url("../Assets/Bg-Phone@2x.png");
  background-color: $secondaryColor;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  #root {
    background-image: url("../Assets/Background@2x.png");
  }
}
*/

html {
    //height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 42.75%; //10px = 1rem 10/16px = 62.5%

    @include responsive(phone) {
        font-size: 50%; //7px
    }

    @include responsive(tabPort) {
        font-size: 56.25%; //8px
    }

    @include responsive(tabLand) {
        font-size: 62.5%; //9px
    }

    @include responsive(desktop) {
        font-size: 65%; //12px
    }
}

//* { border: 1px solid red; };

* {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: $primaryColor;
    background-image: url("../Assets/Bg-Phone@2x.png");
    background-color: $secondaryColor;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;

    @include responsive(phone) {
        background-image: url("../Assets/Background@2x.png")
    }
}

button,
#submitButton {
  background-color: $secondaryColor;
  text-align: center;
  width: 20rem;
  height: 8rem;
  border-radius: 35px;
  border-width: 0;
  box-shadow: 0px 3px 3px gray;
  padding: 5px;
}

#overlay {
  z-index: -1;
}

/*
#bottom {
  bottom: 0;
  position: fixed;
}
*/

#LandingPage {
  p {
    text-shadow: 0px 3px 3px gray;
  }
  span {
    color: $secondaryColor;
  }
}

#Feed {
  flex-direction: column;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#questionFeed {
  display: flex;
  justify-content: center;
}

form {
    width: 100%;
    div, label {
        width: 100%;
    }
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

