@import "./Variables.scss";
@import "./Wrappers.scss";

* {
    background: $primaryColor;
    color: $tertiaryColor;
    font-family: 'Handlee', cursive;
}

button, #submitButton {
    background-color: $secondaryColor;
    height: 75px;
    width: 175px;
    border-radius: 35px;
    border-width: 0;
    box-shadow: 0px 3px 3px gray;
    font-size: 30px;
}

#overlay {
    z-index: -1;
}

#bottom {
    bottom: 0;
    position: fixed;
}

#LandingPage {
    font-size: 10vw;
    p {
        text-shadow: 0px 3px 3px gray;
    }
    span {
        color: $secondaryColor;
    }
}

