@import "./Variables.scss";

h1, h2, h3, h4, #submitButton, p{
    color: $tertiaryColor;
    text-shadow: 0px 1.5px 1.5px gray;
}

h1, h3, h4 { 
    margin: 1.5rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
    margin: 1rem;
}

#submitButton {
    font-size: 4.5rem;
}

input[type=submit] {
    font-size: 4.5rem;
}

h3 {
    font-size: 3.5rem;
}

h4, p {
    font-size: 3rem;
}

#AboutPage {
    h4 {
        color: $secondaryColor;
    }
}